<%- include('../partial/header.ejs',{title: 'Register'}) %>
<%-include('../partial/navbar.ejs')%>
<div class="container">
  <br>
  
  <% if(err) {%>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%=err%>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <% } %>
    <br>
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <br>
        <form action="/register" method="post">

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
          </div>

          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name="email"aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
          </div>

          <!-- GANTI JADI OPTIONS -->
          <div class="mb-3">
            <label class="form-label">Role</label>
            <input type="text" class="form-control" name="role">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </article>
    </div> <!-- card.// -->
</div>
<%- include('../partial/footer.ejs') %>
